*shape_files/
*models/
*.Rda*
*.rda*
*.Rds
*.rds
*.Rhistory
*.pyc
*.csv
*.dta
.Rproj.user
*.Rproj
*data/
*outputs/
*.so
*.o
*.dll
*.pdf
*.jpeg
*.jpg
*.png
*.docx
*.csl
*.json
*.log
*.aux
*.fls
*.gz
*.fdb_latexmk
*.pdf
*.bbl
*.blg
*.ps

